<div class="row">
  <div class="jumbotron">
    <h1>Product Application</h1>
    <p>Calculate how much product you need to add to the tank.</p>
  </div>

  <div>
    <!-- calculate tank capacity -->
    <p><label>Tank capacity:  </label><input id="initial-capacity"></input></p>
    <p><label>Current tank volume:  </label><input id="current-volume"></input></p>
    <p><label>Application rate:  </label><input id="application-rate"></input> gallons per acre</p>
    
    <div class="acres"></div>

  </div>

  <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
  </tr>
  <% end %>

 <!--  <form role="form">
    <div class="form-group">
      <table>


</table>
      <select class="form-control" id="product-name">
        <option>Roundup</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <select multiple class="form-control">
        <option>oz per acre (liquid)</option>
        <option>oz per acre (dry)</option>
        <option>pints per acre</option>
        <option>quarts per acre</option>
        <option>gallons per acre</option>
        <option>pounds per acre</option>
      </select>

</form>
  <div id="product-1">
  product name
  <p class="product-name">Roundup</p>

  product volume per acre
  <p class="volume-per-acre">1</p>

  product unit
  <p class="product-unit">gallons</p>

  acres
  <p class="acres">100</p>

  product refill volume
  <p class="refill-volume">acres * product-volume</p>
 -->

  </div>






</div>