<div class="row">
  <div class="jumbotron">
    <h1>Product Application</h1>
    <p>Calculate how much product you need to add to the tank.</p>
  </div>

  <div>
    <!-- calculate tank capacity -->
    <p><label>Tank capacity:  </label><input id="initial-capacity"></input></p>
    <p><label>Current tank volume:  </label><input id="current-volume"></input></p>
    <p><label>Application rate:  </label><input id="application-rate"></input> gallons per acre</p>
    <button type="button" class="btn btn-default" id="calculate">Calculate acres</button>
    <p>Max acres to spray: <span id="acres"></span>
  </div>








</div>